<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrarse</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/principal/assets/img/castor.png" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="principal/css/inicio_sesion.css">

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        function mostrarPassword() {
            var cambio = document.getElementById("txtPassword");
            if (cambio.type == "password") {
                cambio.type = "text";
                $('#btn1').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
            } else {
                cambio.type = "password";
                $('#btn1').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
            }
        }

        function mostrarPassword2() {
            var cambio2 = document.getElementById("txtPassword2");
            if (cambio2.type == "password") {
                cambio2.type = "text";
                $('#btn2').removeClass('bi bi-eye-slash-fill').addClass('bi bi-eye-fill');
            } else {
                cambio2.type = "password";
                $('#btn2').removeClass('bi bi-eye-fill').addClass('bi bi-eye-slash-fill');
            }
        }
    </script>

</head>

<body class="bg-dark bg-gradient">
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/principal/assets/img/castor.png" alt="logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                <b>ORGANITOR</b>: La planificación a un nivel superior.</a>
            <a class="btn btn-primary" href="/inicio_sesion">Iniciar sesión</a>
        </div>
    </nav>

    <!-- Masthead-->
    <div class="container" style=" margin-top: 5%; margin: left 5%; margin: right 5px;%">
        {{>errores}}
        {{>mensajes}}
    </div>

    <header class="masthead">
        <div id="template-bg-1">
            <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center ">
                <div class="card p-4 text-light bg-dark mb-5" >
                    <div class="card-header">
                        <h3>Registrarse</h3>
                    </div>

                    <div class="card-body w-100">

                        <form name="register" action="/registro" method="POST" id="myform">
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-user mt-2"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre"
                                    value="{{nombre}}">
                            </div>
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-user mt-2"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Apellidos" name="apellidos"
                                    value="{{apellidos}}">
                            </div>
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-user mt-2"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Usuario" name="id_usuario"
                                    value="{{id_usuario}}">
                            </div>
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-user mt-2"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Correo electrónico" name="email"
                                    value="{{email}}">
                            </div>
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-key mt-2"></i></span>
                                </div>
                                <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña"
                                    name="password" value="{{password}}">
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button"
                                        onclick="mostrarPassword()"> <span id="btn1"
                                            class="bi bi-eye-slash-fill icon"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group form-group mt-3">
                                <div class="bg-secondary rounded-start">
                                    <span class="m-3"><i class="fas fa-key mt-2"></i></span>
                                </div>
                                <input type="password" id="txtPassword2" class="form-control"
                                    placeholder="Repita la contraseña" name="confirmar_password">
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button"
                                        onclick="mostrarPassword2()"><span id="btn2"
                                            class="bi bi-eye-slash-fill icon"></span>
                                    </button>
                                </div>
                            </div>
                            {{!-- <div id="password-strength-status"></div> --}}
                            <div class="form-group mt-3">
                                <input type="submit" value="Registrarse"
                                    class="btn bg-secondary float-end text-white w-100">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center">
                            <div class="text-primary">Si ya tiene una cuenta, pulse en <a href="/inicio_sesion">Iniciar
                                    sesión.</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>


    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">Sobre</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contacto</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Términos de uso</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Política de privacidad</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>